# Dependencies
node_modules/

# Next.js
.next/
out/

# Electron
dist/
release/
.electron-build/

# Environment variables
.env
.env.local
.env.*.local
.env.private

# Database
*.db
*.sqlite
*.sqlite3
prisma/dev.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor/OS
.DS_Store
.vscode/
.idea/

# Build artifacts
*.tsbuildinfo

# Test coverage
/coverage

/src/generated/prisma
